<div class="container_big-card">


  <div class="big-card_photo">
    <img src="../../../assets/images/herois-marvel.jpg" alt="">
  </div>

  <div class="big-card_title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="big-card_description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit,
        augue sit amet rutrum dapibus, lectus dolor convallis velit, et gravida
        nisi dolor vel nibh. Vivamus ex ligula, convallis non euismod tristique,
        bibendum id turpis. Nulla quis felis orci. Pellentesque gravida est ac
        pellentesque elementum.
      </a>
    </p>
  </div>

</div>

