<div class="container_top">
  <hr style="width: 100%;">

  <div class="container_back-button">
    <a [routerLink]="['']"><< Voltar</a>
  </div>

</div>

<div class="container-main">

  <div class="container-header">

    <h1>About MyBlog</h1>
    <hr>

  </div>

  <div class="container-content">
    <p>
      Desenvolvido com base no projeto criado nas aulas do bootcamp FORMAÇÃO ANGULAS DEVELOPER.
    </p>
    <br>
    <p>
      Alguns textos foram criados com IA e revisados por mim.
    </p>
    <br>
    <p>
      <strong>Disclaimer</strong>: The content of this blog is purely fictional and intended for entertainment purposes only.
      All material is derived from various sources on the internet and may include creative embellishments.
      Any resemblance to real persons, living or dead, or actual events is purely coincidental.
      The views and situations presented do not reflect reality and should not be interpreted as factual.
    </p>
    <br>
    <p><strong>Disclaimer:</strong> O conteúdo deste blog é puramente fictício e destinado apenas para fins de entretenimento.
      Todo o material é derivado de várias fontes na internet e pode incluir embelezamentos criativos.
      ualquer semelhança com pessoas reais, vivas ou mortas, ou eventos reais é pura coincidência.
      As visões e situações apresentadas não refletem a realidade e não devem ser interpretadas como fatos.</p>
  </div>
  <hr style="width: 100%;">
  <div class="container-footer">
    <p>&copy; 2024 MyBlog - Todos os direitos reservados</p>
  </div>
</div>
