.container_content {

  width: 100%;
  height: 100vh;

  margin-top: 20px;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.content_cover > img{
  border: 5px solid silver;
  border-radius: 5px;
  width: 400px;
  min-width: 400PX;
  height: auto;
}

.content_short-description  {
  margin-top: 15px;
}

.content_short-description > p{
  color: rgb(197, 197, 197);
}

.content_long-description  {
  margin-top: 15px;
}

.content_long-description > p{
  color: rgb(197, 197, 197);
  padding-left: 60px;
  padding-right: 60px;
}
