<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container_articles">

  <div class="articles-main">
    <app-big-card
      photoCover="../../../assets/images/herois-marvel.jpg"
      cardTitle="Novo filme Avengers em 3D"
      cardDescription="Marvel Studios anuncia nova sequência para os Avengers."
    > </app-big-card>
  </div>

  <div class="articles-others">
    <app-small-card
      photoCover="../../../assets/images/iron-man.jpeg"
      cardTitle="Novo filme do soHomem de Ferro em 3D anunciado"
    ></app-small-card>
    <app-small-card
      photoCover="../../../assets/images/iron-man.jpeg"
      cardTitle="Nova serie anunciada no Disney +"
    ></app-small-card>
    <app-small-card
      photoCover="../../../assets/images/iron-man.jpeg"
      cardTitle="Novo filme do Pantera Negra lançado em brave"
  ></app-small-card>
  </div>

</div>
